.detail-bank-account-screen {
  .menu-title {
    color: #20a8d8;
  }
  .menu-container {
    .list-group-item:first-child {
      border-radius: 0px;
    }
    .list-group-item:last-child {
      border-radius: 0px;
    }
    .list-group-item {
      border: none;
      cursor: pointer;
    }
    .list-group-item.active {
      background-color: #ffffff;
      color: #20a8d8;
    }
    .list-group-item:hover {
      background-color: #20a8d8;
      color: #ffffff;
    }
  }
  .bank-detail-main-container {
    border: none;
    background: transparent;
  }
}