.state-section .invoice-stats {
  height: 150px;
  padding: 10px;
  border: 2px solid #dad8d8;
  margin-bottom: 10px;
  border-radius: 7px;
}

.state-section .stat-container {
  /* padding: 10px; */
  padding-top: 10px;
}

.state-section h3.stats-value {
  color: #1b5083;
  font-size: 28px;
  font-weight: 600;
}

.state-section h3.stats-value em {
  color: #1b5083;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

.state-section .stat-container h4 {
  color: #444444;
  font-size: 18px;
  font-weight: 500;
}

.state-section .refresh {
  color: #1464f6;
  cursor: pointer;
}

.state-section .update {
  margin-top: 20px;
}

.state-section i.fa.fa-question-circle-o {
  font-size: 23px;
  margin-left: 2px;
  /* margin-top: 12px; */
  /* padding: 5px; */
}

.state-section .invoice {
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 15px;
}
