.bank-statement-section {
  .card-header {
    color: #20a8d8;
  }
  .bank-statement-table {
    .table-action {
      button {
        width: 30px;
        height: 30px;
        padding: 0;
      }
    }
  }
}