<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">

    <http pattern="/javax.faces.resource/**" security="none"/>
    <http pattern="/pages/public/common/error.xhtml" security="none"/>

    <http auto-config="true" access-denied-page="/pages/public/login.xhtml">
        <intercept-url pattern="/pages/public/login.xhtml" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/**" access="ROLE_ADMIN,ROLE_EMPLOYEE"/>
        <anonymous/>
        <form-login login-page="/pages/public/login.xhtml"
                    login-processing-url="/j_spring_security_check"
                    default-target-url="/pages/secure/user/home.xhtml"
                    authentication-success-handler-ref="customAuthenticationSuccessHandler"
                    authentication-failure-handler-ref="authenticationFailureHandler"
                    always-use-default-target="true"/>
        <logout invalidate-session="true" delete-cookies="true"
                logout-success-url="/pages/public/login.xhtml"/>
    </http>

    <beans:bean id="customAuthenticationSuccessHandler"
                class="com.simplevat.security.CustomAuthenticationSuccessHandler"/>
    <beans:bean id="authenticationFailureHandler"
                class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
        <beans:property name="defaultFailureUrl" value="/pages/public/login.xhtml?error=true"/>
    </beans:bean>

    <beans:bean id="userDetailsService" class="com.simplevat.security.CustomUserDetailsService"/>
    <beans:bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="userDetailsService">
            <password-encoder ref="passwordEncoder"/>
        </authentication-provider>
    </authentication-manager>

    <global-method-security pre-post-annotations="enabled" secured-annotations="enabled" jsr250-annotations="enabled"/>

</beans:beans>