/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 Aug, 2017, 12:57:25 PM
    Author     : uday
*/

.tableCustomHeader{
    float:left;
}
.ui-paginator-bottom .tableCustomHeader{
    display:none;
}
.tableCustomFooter{
    float:left;
    padding: 2px 6px;
}
.ui-paginator-top .tableCustomFooter{
    display:none;
}
.ui-paginator{
    text-align: right !important;
}
body.layout-compact .ui-datatable tbody tr.ui-widget-content td {
    padding: 3px 10px;
}
.status-PAID {
    width: 20px;
    height: 20px;
    background: url("#{resource['css:paid-icon.png']}") no-repeat left top;
}
.status-PARTIALPAID {
    width: 20px;
    height: 20px;
    background: url("#{resource['css:partial-paid-icon.png']}") no-repeat left top;
}
.status-UNPAID {
    width: 20px;
    height: 20px;
    background: url("#{resource['css:unpaid-icon.png']}") no-repeat left top;
}
.status-valid {
    width: 20px;
    height: 20px;
    background: url("#{resource['css:right-icon.png']}") no-repeat left top;
}
.status-invalid{
    width: 20px;
    height: 20px;
    background: url("#{resource['css:warning-icon.png']}") no-repeat left top;
}

.transtype-EXPLAINED {
    width: 20px;
    height: 20px;
    background: url("#{resource['css:explain-icon.png']}") no-repeat left top;
}
.transtype-EXPLAINED-child {
    width: 20px;
    height: 20px;
    background: url("#{resource['css:explain-icon.png']}") no-repeat left top;
    margin-left: 16px;
}
.transtype-UNEXPLAINED {
    width: 20px;
    height: 20px;
    background: url("#{resource['css:undexplained.png']}") no-repeat left top;
}
.transtype-UNEXPLAINED-child {
    width: 20px;
    height: 20px;
    background: url("#{resource['css:undexplained.png']}") no-repeat left top;
    margin-left: 16px;
}
.transtype-PARTIALLY-EXPLAINED {
    width: 20px;
    height: 20px;
    background: url("#{resource['css:partial-icon.png']}") no-repeat left top;
}
.transtype-PARTIALLY-EXPLAINED-child {
    width: 20px;
    height: 20px;
    background: url("#{resource['css:partial-icon.png']}") no-repeat left top;
    margin-left: 16px;
}
.circle { width: 10px; height: 10px; background: red; -moz-border-radius: 50px; -webkit-border-radius: 50px; border-radius: 50px; }

.tree td.first-child {
    padding-left: 20px;

}
.tree tbody tr td.first-child {
    background:  url("#{resource['css:tree-node-line.png']}") center center no-repeat;
    border-top:0px solid;
    border:0px solid;
}
.tree tbody tr.first-child td.first-child {
    margin-left:7px;
    background: url("#{resource['css:tree-node-line.png']}")  top center no-repeat;
    border:0px solid;
}
.tree tbody tr.last-child td.first-child {
    margin-left:7px;
    background: url("#{resource['css:tree-node-line.png']}")  bottom center no-repeat;
    border:0px solid;
    /*padding-right:2px !important;*/
}
