.header{text-align: center;width: 100%;background: white;padding: 5px;position: fixed;z-index: 1000;}
.header img{width: 50%;}
.login-bg{
    background: url("#{resource['images:login/main-bg.jpg']}");
}
.login-panel{
    margin: auto;
    width: 60%;
    margin-top: calc((100vh - 480px)/2);
}
.blue-side{
    background-image: radial-gradient(#A1C627, #618C1C);
    text-align: center;
    padding: 25px;
    height: 450px;
    border-radius: 7px 0px 0px 7px;
}
.blue-side h1{
    color: white;
    font-size: 19px;
    text-align: center;
    padding: 10px 0px;
}
.blue-side h1 strong{
    color: #1b5083;
}
.blue-side label{
    color: white;
    margin-top: 12px;
    float: left;
}
.form-control:focus{border-color:transparent !important;}

.blue-side i{
    font-size: 20px;
    color: #96bc25;
    width: 20px; 
}
.input-group{width: 100%;}
.blue-side p a{color: white;text-decoration: none;transition: 0.3s;}
.blue-side p a:hover{color: #1b5082;}
.blue-side p{
    text-align: right;
    font-size: 13px;
    margin-top: 10px;
}
.blue-side button{
    border: none;
    width: 100%;
    background: #2678c5;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    padding: 7px;
    text-align: center;
    transition: 0.3s;
}
.blue-side button:hover{
    background:  #1b5082;
}
.service-img{width: 75% !important; transition: 0.3s;margin: 10px;}

.white-side{
    text-align: center;
    padding: 25px;
    background: white;
    height: 450px;
    border-radius: 0px 7px 7px 0px;
}
.white-side img{width: 50%;}
.white-side p{
    font-size: 13px;
    color: #898686;
    padding-top: 28px;
    text-align: justify;
}
.feature-img{margin-top: 25px;}
.feature-img h1{
    font-size: 12px;
    margin: 0px;
    color: #6c961e;
    /*    background: #6c961e;
        padding: 5px;
        border-radius: 5px;*/
}
.feature-box:hover img{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.vl
{
    border-left: 1px dotted #7ea721;
    height: 335px;
    position: absolute;
    left: 50%;
} 
.feature-box{height: 163px;}
.br-btm-md{
    border-bottom:1px dotted #7ea721;
}
body .ui-message {
    min-height: 0px !important;
}
@media (max-width:970px){
    .blue-side{border-radius: 7px 7px 0px 0px;}
    .white-side{border-radius: 0px 0px 7px 7px;height: 300px;}
    .login-panel{
        width: 85%;
        margin-top:23%;
    }
    .service-img{width: 58% !important;}
    .blue-side input {
        width: 89%;
    }
    .feature-box{
        width: 45%;
        /*border: none !im  portant;*/
        height: 120px;
    }
    .feature-img {
        margin-top: 10px;
    }
    .vl
    {
        border-left: 1px dotted #7ea721;
        height: 242px;
        position: absolute;
        left: 50%;
    } 
    .br-btm-md{border: none;}
    .br-btm{border-bottom:1px dotted #7ea721;}
}