<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="100 milliseconds">

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%date{dd-MM-yyyy HH:mm:ss.SSS, UTC} [%-5level] %-17thread %-40.40logger{40} - %-160msg |||||
                requestInfo=[%mdc{requestInfo}]%n
            </Pattern>
        </encoder>
    </appender>

    <appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
        <param name="file" value="logs.logg"/>
        <param name="append" value="false"/>
        <param name="threshold" value="debug"/>
        <encoder>
            <pattern>%d{dd/MMM/yyyy HH:mm:ss,SSS}- %c{1}: %m%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.http" level="warn"/>
    <logger name="org.springframework" level="info"/>
    <logger name="javax.persistence" level="debug"/>
    <logger name="org.hibernate.exception" level="debug"/>
    <logger name="com.simplevat" level="debug"/>

    <root>
        <level value="INFO"/>
        <appender-ref ref="consoleAppender"/>
    </root>

</configuration>