.vat-category-screen {
  .card {
    border: none;
    box-shadow: 3px 3px 11px rgba(0,0,0,0.2);
    border-radius: 7px;

    .card-header {
      font-size: 20px;
      background: white;
      background-color: white;
      border: none;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      padding: 18px 20px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;

      button {
        margin: 0 !important;
        height: 30px;
        font-size: 14px;
        padding: 0px 18px;
      }
    }

    // table {
    //     th, td {
    //         padding: 8px 10px;
    //         vertical-align: middle;
    //     }
    //     th {
    //         // border-top: 0;
    //     }
    // }
  }

  .table-action {
    button {
      width: 30px !important;
      height: 30px !important;
      padding: 0;
    }
  }

  .badge-info {
    background-color: #63c2de;
    color: white;
    /* width: 30px; */
    padding: 5px 10px;
    font-size: 12px;
  }
}