RewriteCond %{REQUEST_URI} !^(.*)/static/(.*)$
RewriteCond %{REQUEST_URI} !^(.*)/assets/(.*)$
RewriteCond %{REQUEST_URI} !^(.*)/favicon.png
RewriteCond %{REQUEST_URI} !^(.*)/api/(.*)$
RewriteCond %{REQUEST_URI} !^(.*)/oauth/(.*)$
RewriteCond %{REQUEST_URI} !^(.*)/public/(.*)$
RewriteCond %{REQUEST_URI} !^(.*)/files/(.*)$
RewriteRule ^/(.*)$ /index.html [L]