
body, span, label, h1, h2, h3, h4, p, em {
  font-family: Montserrat, serif;
}

.form-control {
  border-radius: 0 !important;
}

.input-group-text {
  border-radius: 0 !important;
}

.btn-group {
  .btn {
    border-radius: 0 !important;
  }
}

.card {
  border-radius: 0 !important;
  border: none !important;
  box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14),
    0px 3px 3px -2px rgba(0,0,0,0.12) !important;
}

.card-header {
  background-color: #ffffff !important;
  border-radius: 0 !important;
}

.card-body {
  border-radius: 0 !important;
}

.card-footer {
  border-radius: 0 !important;
}

.dropdown-menu {
  border-radius: 0 !important;
  border: none !important;
  box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14),
    0px 3px 3px -2px rgba(0,0,0,0.12) !important;
}

.nav-link {
  border-radius: 0 !important;
}

.tab-card {
  background: #ffffff !important;
}
.tab-content {
  border-radius: 0 !important;
}


.react-bs-table-container {
  .react-bs-table {
    border-radius: 0 !important;
  
    td {
      vertical-align: middle !important;
    }
    th {
      border-bottom-width: 1px !important;
    }
  }
  .react-bs-table-tool-bar {
    .btn {
      border-radius: 0 !important;
    }
  }
  .react-bs-table-pagination {
    .btn.dropdown-toggle {
      border-radius: 0 !important;
    }
    .page-link {
      border-radius: 0 !important;
    }
  }
}


.modal-dialog {
  border-radius: 0 !important;
  .modal-content {
    border-radius: 0 !important;
    .modal-header {
      border-radius: 0 !important;
      button.close {
        display: none;
        span {
          color: #ffffff;
        }
      }
    }
    .modal-body {
      border-radius: 0 !important;
    }
    .modal-footer {
      border-radius: 0 !important;
    }
  }
}



.Select-control {
  border-radius: 0px !important;
}
.Select-menu-outer {
  border-radius: 0px !important;
}

.react-autosuggest__input {
  border-radius: 0px !important;
}


